<div class="col-lg-4 col-md-6 mb-3">
  <div class="card h-100 shadow-sm border-0 rounded-0 bg-light">
    <% if book.photo.attached? %>
      <%= cl_image_tag book.photo.key, class: "book card-img-top", crop: :fill %>
    <% else %>
      <%= image_tag "livro.jpeg", class: "book card-img-top" %>
    <% end %>

    <div class="card-body">
      <span class="badge rounded-pill text-bg-success text-white position-absolute" style="top: 15px"><%= book.genre.capitalize %></span>
      <h5 class="card-title fw-bold"><%= book.title %> <small class="fw-lighter fs-6 text-muted">(<%= book.year %>)</small></h5>
      <p class="card-subtitle mb-2">By <%= book.author %></p>
    </div>
    <div class="card-footer bg-light text-center">
      <%= link_to book_path(book), class: "btn btn-outline-danger rounded-0 d-block w-100 stretched-link mb-2" do %>
        <i class="fa-solid fa-plus me-2"></i>
        Book details
      <% end %>
      <small class="card-text text-muted">Offered by: <%= book.user.name %></small>
    </div>
  </div>
</div>
