<div class="col-lg-4 col-md-6 mb-3">
  <div class="card border-0 shadow-sm h-100 rounded-0">
    <% if trade.book.photo.attached? %>
      <%= cl_image_tag trade.book.photo.key, class: "book card-img-top", crop: :fill %>
    <% else %>
      <%= image_tag "livro.jpeg", class: "book card-img-top" %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title fw-bold"><%= trade.book.title %> <small class="fw-lighter fs-6 text-muted">(<%= trade.book.year %>)</small></h5>
      <p class="card-subtitle mb-2">By <%= trade.book.author %></p>
      <p class="card-text"><span class="fw-bold text-muted">Borrowed on: </span><%= trade.trade_date.strftime("%d %b %Y") %></p>
      <p class="card-text"><span class="fw-bold text-muted">Return by: </span><%= trade.return_date.strftime("%d %b %Y") %></p>
    </div>
    <div class="card-footer text-center">
      <small class="card-text text-muted">Offered by: <%= trade.book.user.name %></small>
    </div>
  </div>
</div>
