<h1>new de books</h1>

<%= simple_form_for @book do |f| %>
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.input :year %>
  <%= f.input :genre %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
