<div class="container my-5">
  <%= link_to books_path, class: "text-decoration-none text-muted" do %>
    <i class="fa-solid fa-arrow-left-long"></i>
    Return
  <% end %>

  <div class="row justify-content-center mb-3">
    <div class="col-md-4">
      <% if @book.photo.attached? %>
        <%= cl_image_tag @book.photo.key, class: "book card-img-top", crop: :fill %>
      <% else %>
        <%= image_tag "livro.jpeg", class: "book card-img-top" %>
      <% end %>
      <% if current_user && current_user.name == @book.user.name %>

        <p class="d-block text-muted text-center">This book belongs to <span class="fw-bold">you</span></p>
      <% else %>
        <p class="d-block text-muted text-center">This book belongs to <span class="fw-bold"><%= @book.user.name %></span></p>
      <% end %>
    </div>
    <div class="col-md-5 mb-5 mb-md-0">
      <span class="badge rounded-pill text-bg-success text-white"><%= @book.genre.capitalize %></span>
      <h1><%= @book.title %>
        <span class="fs-5">(<%= @book.year %>)<span>
      </h1>
      <p class="mb-4">By
        <span class="fw-bold"><%= @book.author.capitalize %></span>
      </p>

      <% if current_user == @book.user %>
        <%= link_to edit_book_path(@book), class: "btn btn-outline-secondary me-2" do %>
          <i class="fa-solid fa-pen-to-square"></i>
          Edit offer
        <% end %>
        <%= link_to profile_path, class: "btn btn-outline-danger me-2", data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash-can"></i>
          Delete offer
        <% end %>
        <br>
        <% unless @book.available? %>
          <%= link_to change_availability_to_true_book_path(@book), class: "btn btn-outline-success mt-3", data: {turbo_method: :patch } do %>
            <i class="fa-regular fa-circle-check"></i>
            Make available
          <% end %>
        <% end %>
      <% else %>
        <% if @book.available %>
          <%= render 'trade_form' %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-9 mb-3">
      <h5>This book is here:</h5>
      <div class="mx-auto" style="width: 100%; height: 300px;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
    <div class="col-md-9">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-6">
          <h5>Reviews</h5>
          <% if @book.reviews.count == 0 %>
            <p>No reviews yet. Be the first to leave a review?</p>
          <% end %>
          <% @book.reviews.each do |review| %>
            <div class="card w-100 mb-2 border-0 rounded-0 shadow-sm">
              <div class="card-body py-2">
                <p class="card-title fw-bold"><%= review.user.name %>
                  <% review.rating.times do %>
                    <i class="fa-solid fa-star text-info"></i>
                  <% end %>
                  <% (5 - review.rating).times do %>
                    <i class="fa-regular fa-star text-info"></i>
                  <% end %>
                </p>
                <p class="card-text"><%= review.content %></p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-lg-4 col-md-6">
          <h5>Leave a review</h5>
          <%= simple_form_for [@book, @review] do |f| %>
            <%= f.input :rating, collection: (1..5).to_a, label: "Rate the book", input_html: {data: {controller: "star-rating"}} %>
            <%= f.input :content %>
            <%= f.submit "Submit", class: "btn btn-dark w-100 d-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
