<h1><%= @book.title %></h1>
<%# mostrar a imagem do livro %>
<h5>Author: <%= @book.author.capitalize %></h5>
<p><%= @book.year %><p>
<h5>Genre: <%= @book.genre.capitalize %></h5>
<h5>This book belongs to: <%= @book.user.name %></h5>

<% if current_user == @book.user %>
  <%= link_to "Edit informations", edit_book_path(@book) %>
  <%= link_to "Delete this book", profile_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
<% else %>
  <% if @book.available %>
    <p>Would you like to borrow it?</p>
    <%= simple_form_for [@book, @trade] do |f| %>
      <%= f.input :trade_date, as: :date %>
      <%= f.input :return_date, as: :date %>
      <%= f.button :submit %>
    <% end %>
  <% end %>

  <%= link_to "Take me back to my options", books_path %>
<% end %>
