<div class="container my-5">
  <%= link_to books_path, class: "text-decoration-none text-muted" do %>
    <i class="fa-solid fa-arrow-left-long"></i>
    Return
  <% end %>

  <div class="row justify-content-center mb-3">
    <div class="col-md-4">
      <% if @book.photo.attached? %>
        <%= cl_image_tag @book.photo.key, class: "img-fluid d-block mx-auto", height: "300px", width: "300px", crop: :fill %>
      <% else %>
        <%= image_tag "livro.jpeg", class: "img-fluid d-block mx-auto", height: "300px", width: "300px" %>
      <% end %>
      <% if current_user && current_user.name == @book.user.name %>

        <p class="d-block text-muted text-center">This book belongs to <span class="fw-bold">you</span></p>
      <% else %>
        <p class="d-block text-muted text-center">This book belongs to <span class="fw-bold"><%= @book.user.name %></span></p>
      <% end %>
    </div>
    <div class="col-md-5 mb-5 mb-md-0">
      <span class="badge rounded-pill text-bg-success text-white"><%= @book.genre.capitalize %></span>
      <h1><%= @book.title %>
        <span class="fs-5">(<%= @book.year %>)<span>
      </h1>
      <p class="mb-4">By
        <span class="fw-bold"><%= @book.author.capitalize %></span>
      </p>

      <% if current_user == @book.user %>
        <%= link_to edit_book_path(@book), class: "btn btn-outline-secondary me-2" do %>
          <i class="fa-solid fa-pen-to-square"></i>
          Edit offer
        <% end %>
        <%= link_to profile_path, class: "btn btn-outline-danger me-2", data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash-can"></i>
          Delete offer
        <% end %>
        <br>
        <% unless @book.available? %>
          <%= link_to change_availability_to_true_book_path(@book), class: "btn btn-outline-success mt-3", data: {turbo_method: :patch } do %>
            <i class="fa-regular fa-circle-check"></i>
            Make available
          <% end %>
        <% end %>
      <% else %>
        <% if @book.available %>
          <%= render 'trade_form' %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-9">
      <h5>This book is sent from:</h5>
      <div class="mx-auto" style="width: 100%; height: 300px;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
